h1 {
  font-family: "PalatinoLT-Light";
  text-transform: uppercase;
  color: $white;
}
h2 {
  font-family: "PalatinoLT-Roman";
  color: $black;
  text-transform: uppercase;
}
h3 {
  font-family: "PalatinoLT-Light";
  color: $white;
}
h4 {
  font-family: "PalatinoLT-Roman";
  color: $theme-secondary;
}

.caption {
  font-family: "Swiss721BT-Thin";
  color: $theme-secondary;
  font-weight: bold;

  &-number {
    font-family: "AvenirLTStd-Book";
    color: $white;
  }
}
