h1 {
  font-family: "PalatinoLT-Light";
  text-transform: uppercase;
  color: $white;
  font-size: 43px;
  line-height: 42px;
}
h2 {
  font-family: "PalatinoLT-Light";
  color: $black;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}
h3 {
  font-family: "PalatinoLT-Light";
  color: $white;
  font-size: 27px;
  line-height: 25px;
}
// h4 {
//   font-family: "PalatinoLT-Roman";
//   color: $theme-secondary;
// }
.body {
  font-family: "PalatinoLT-Light";
  color: $grey-1;
  font-size: 20px;
  text-align: center;
}
