h1 {
  font-family: "PalatinoLT-Light";
  text-transform: uppercase;
  color: $white;
  font-size: 43px;
  line-height: 42px;
}
h2 {
  font-family: "PalatinoLT-Roman";
  color: $black;
  text-transform: uppercase;
}
h3 {
  font-family: "PalatinoLT-Light";
  color: $white;
  font-size: 27px;
  line-height: 25px;
}
h4 {
  font-family: "PalatinoLT-Roman";
  color: $theme-secondary;
}

.caption {
  font-family: "AvenirLTStd-Book";
  color: $theme-secondary;
  font-weight: bold;
  font-size: 13px;
  padding: 28px 1px 10px 10px;
  text-align: initial;
  line-height: 20px;

  &-number {
    @include centered;
    font-family: "AvenirLTStd-Book";
    color: $white;
    font-size: 12px;
    padding: 10px;
    letter-spacing: 2px;
  }

  &-slash {
    font-family: "Swiss721BT-Thin";
    color: $white;
    font-size: 24px;
    padding: 10px;
  }
}
