.hero {
  background-image: url(../assets/images/mobile_hero.jpg);
  background-position: center;
  background-size: cover;

  @include media(desktop) {
    background-image: url(../assets/images/desktop_hero.jpg);
  }
}
