.Swiss721BT-Thin {
  font-family: Swiss721BT-Thin;
}
.PalatinoLT-Light {
  font-family: PalatinoLT-Light;
}
.PalatinoLT-Roman {
  font-family: PalatinoLT-Roman;
}
.AvenirLTStd-Heavy {
  font-family: AvenirLTStd-Heavy;
}
.AvenirLTStd-Medium {
  font-family: AvenirLTStd-Medium;
}
.AvenirLTStd-Book {
  font-family: AvenirLTStd-Book;
}
