@mixin media($breakpoint) {
  @if $breakpoint==mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
  @if $breakpoint==mobile-lg {
    @media only screen and (min-width: 480px) {
      @content;
    }
  }
  @if $breakpoint==desktop-sm {
    @media only screen and (min-width: 900px) {
      @content;
    }
  }

  @if $breakpoint==desktop-lg {
    @media only screen and (min-width: 1800px) {
      @content;
    }
  }
}

@mixin grid($breakpoint) {
  @if $breakpoint==mobile {
    display: grid;
    grid-template-columns: 32px repeat(4, 1fr) 32px;
  }
  @if $breakpoint==mobile-lg {
    display: grid;
    grid-template-columns: 54px repeat(4, 1fr) 54px;
  }
  @if $breakpoint==desktop-sm {
    display: grid;
    grid-template-columns: 100px repeat(12, 1fr) 100px;
  }
  @if $breakpoint==desktop-lg {
    display: grid;
    grid-template-columns: 158px repeat(12, 1fr) 158px;
  }
}

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin justify {
  display: flex;
  justify-content: space-evenly;
}

@mixin productCaption {
  @include centered;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;

  max-width: 500px;
  @include media(mobile-lg) {
    width: 90%;
  }
  @include media(desktop-lg) {
    max-width: 800px;
    margin: initial;
  }

  .caption {
    font-family: "AvenirLTStd-Book";
    font-size: 12px;
    line-height: 20px;
    color: $grey-1;

    @include media(desktop-lg) {
      font-size: 24px;
      line-height: 32px;
    }

    &-number {
      @include centered;
      font-family: "AvenirLTStd-Book";
      font-size: 12px;
      padding: 10px;
      letter-spacing: 2px;
      font-weight: bold;

      @include media(desktop-lg) {
        font-size: 24px;
      }
    }

    &-slash {
      font-family: "Swiss721BT-Thin";
      font-size: 27px;
      padding: 10px;
      font-weight: bold;

      @include media(desktop-lg) {
        font-size: 40px;
      }
    }
  }
}

@mixin themeLine {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.3px;
    border-bottom: 0.5px solid #9884686e;
    width: 25%;
    margin: auto;

    @include media(mobile-lg) {
      width: 20%;
    }

    @include media(desktop-lg) {
      width: 15%;
    }
  }
}

//will return to fix the hero desktop-lg line
@mixin heroThemeLine {
  @include themeLine;
  border-bottom: 0.5px solid $white;
  width: 20%;
}

@mixin eventItem {
  grid-column: 2/6;
  @include mediumGutterTop;
}

@mixin scalingSvgContainer {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  width: 18px;
  height: 13px;
}

@mixin mediumGutterTop {
  padding-top: 40px;

  @include media(mobile-lg) {
    padding-top: 60px;
  }
  @include media(desktop-sm) {
    padding-top: 80px;
  }
  @include media(desktop-lg) {
    padding-top: 130px;
  }
}

@mixin mediumGutterBottom {
  padding-bottom: 40px;

  @include media(mobile-lg) {
    padding-bottom: 60px;
  }
  // @include media(desktop-sm) {
  //   padding-bottom: 80px;
  // }
  // @include media(desktop-lg) {
  //   padding-bottom: 130px;
  // }
}

@mixin largeGutterTop {
  padding-top: 80px;

  @include media(mobile-lg) {
    padding-top: 130px;
  }

  @include media(desktop-lg) {
    padding-top: 200px;
  }
}

@mixin largeGutterBottom {
  padding-bottom: 80px;

  @include media(mobile-lg) {
    padding-bottom: 130px;
  }
  @include media(desktop-sm) {
    padding-bottom: 180px;
  }
  // @include media(desktop-lg) {
  //   padding-bottom: 200px;
  // }
}
