@mixin media($breakpoint) {
  @if $breakpoint==tablet {
    @media only screen and (min-width: 480px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  }
}

@mixin grid($breakpoint) {
  @if $breakpoint==mobile {
    display: grid;
    grid-template-columns: 32px repeat(4, 1fr) 32px;
  }
}

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin justify {
  display: flex;
  justify-content: space-evenly;
}

@mixin productCaption {
  @include centered;
  flex-direction: row;
  grid-column: 2/6;
  width: 92%;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;

  .caption {
    font-family: "AvenirLTStd-Book";
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    color: $grey-1;
    padding-top: 19px;

    &-number {
      @include centered;
      font-family: "AvenirLTStd-Book";
      font-size: 12px;
      padding: 10px;
      letter-spacing: 2px;
      font-weight: bold;
    }

    &-slash {
      font-family: "Swiss721BT-Thin";
      font-size: 24px;
      padding: 10px;
      font-weight: bold;
    }
  }
}

@mixin themeLine {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.3px;
    border-bottom: 0.5px solid #988468;
    width: 37%;
    margin: auto;
  }
}
