@mixin media($breakpoint) {
  @if $breakpoint==mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
  @if $breakpoint==tablet {
    @media only screen and (min-width: 480px) {
      @content;
    }
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  }
}

@mixin grid($breakpoint) {
  @if $breakpoint==mobile {
    display: grid;
    grid-template-columns: 32px repeat(4, 1fr) 32px;
  }
  @if $breakpoint==tablet {
    display: grid;
    grid-template-columns: 54px repeat(4, 1fr) 54px;
  }
}

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin justify {
  display: flex;
  justify-content: space-evenly;
}

@mixin productCaption {
  @include centered;
  flex-direction: row;
  grid-column: 2/6;
  width: 90%;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 500px;

  .caption {
    font-family: "AvenirLTStd-Book";
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    color: $grey-1;
    padding-top: 19px;

    @include media(tablet) {
      font-size: 22px;
    }

    &-number {
      @include centered;
      font-family: "AvenirLTStd-Book";
      font-size: 12px;
      padding: 10px;
      letter-spacing: 2px;
      font-weight: bold;

      @include media(tablet) {
        font-size: 22px;
      }
    }

    &-slash {
      font-family: "Swiss721BT-Thin";
      font-size: 27px;
      padding: 10px;
      font-weight: bold;
    }
  }
}

@mixin themeLine {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.3px;
    border-bottom: 0.5px solid #988468;
    width: 30%;
    margin: auto;
    opacity: 0.6;

    @include media(tablet) {
      width: 20%;
    }
  }
}

@mixin eventItem {
  grid-column: 2/6;
  @include mediumGutterTop;
}

@mixin scalingSvgContainer {
  position: relative;
  height: 0;
  width: 100%;
  padding: 0;
  width: 26px;
  height: 24px;
}

@mixin mediumGutterTop {
  padding-top: 40px;

  @include media(tablet) {
    padding-top: 60px;
  }
}

@mixin mediumGutterBottom {
  padding-bottom: 40px;

  @include media(tablet) {
    padding-bottom: 60px;
  }
}

@mixin largeGutterTop {
  padding-top: 80px;

  @include media(tablet) {
    padding-top: 130px;
  }
}

@mixin largeGutterBottom {
  padding-bottom: 80px;

  @include media(tablet) {
    padding-bottom: 130px;
  }
}
