//utility colors
.gold {
  color: $gold;
}

.grey-4 {
  color: $grey-4;
}

.hidden-mobile {
  display: none;
  @include media(desktop-lg) {
    display: block;
  }
}
.hidden-desktop {
  display: block;
  @include media(desktop-lg) {
    display: none;
  }
}
