//color vairables
$black: #1a1a1a;
$white: #f3f3f3;
$gold: #988468;
$grey-1: #666666;
$grey-2: #555555;
$grey-3: #6f6f6f;
$grey-4: #cececec2;

$medium-gutter: 40px;
$large-gutter: 80px;

$medium-gutter: 60px;
$large-gutter: 120px;
