.about {
  @include centered;
  @include grid(mobile);

  background-color: $white;
  &-title {
    grid-column: 2/6;
    max-width: 70%;
    text-align: center;
    margin: auto;
    @include largeGutterTop;
    @include mediumGutterBottom;
    position: relative;
  }
  &-description {
    grid-column: 2/6;
    @include mediumGutterTop;
    @include largeGutterBottom;
    margin: auto;
    width: 85%;
  }
  &-appreciation {
    grid-column: 1/7;
  }
  .product-caption {
    @include productCaption;
    color: $grey-3;
    padding-bottom: $large-gutter;
    .caption {
      &-number {
        color: $gold;
      }
      &-slash {
        color: $gold;
      }
    }
  }
}
