.about {
  @include centered;
  @include grid(mobile);

  @include media(desktop-sm) {
    @include grid(desktop-sm);
  }

  background-color: $white;
  &-title {
    grid-column: 2/6;
    max-width: 70%;
    text-align: center;
    margin: auto;
    @include largeGutterTop;
    @include mediumGutterBottom;
    position: relative;

    @include media(desktop-sm) {
      grid-column: 5/11;
      max-width: 100%;
    }
  }
  &-description {
    grid-column: 2/6;
    @include mediumGutterTop;
    @include largeGutterBottom;
    margin: auto;
    width: 85%;

    @include media(mobile-lg) {
      width: 80%;
    }
    @include media(desktop-sm) {
      grid-column: 5/11;
      width: 100%;
    }
  }
  &-appreciation {
    grid-column: 1/7;
    display: flex;
    width: 100%;

    @include media(desktop-sm) {
      grid-column: 5/11;
    }
  }
  .product-caption {
    grid-column: 2/6;

    @include productCaption;

    @include media(desktop-sm) {
      grid-column: 4/12;
      margin: auto;
    }

    color: $grey-3;
    @include largeGutterBottom;

    .caption {
      &-number {
        color: $gold;
      }
      &-slash {
        color: $gold;
      }
    }
  }
}
