$largeGutter: 200px;
$smallGuter: 100px;

.about {
  @include centered;
  @include grid(mobile);

  @include media(desktop-sm) {
    @include grid(desktop-sm);
  }

  position: relative;

  background-color: $white;
  &-title {
    grid-column: 2/6;
    max-width: 80%;
    text-align: center;
    margin: auto;
    @include largeGutterTop;
    @include mediumGutterBottom;
    position: relative;

    @include media(desktop-sm) {
      grid-column: 5/11;
      max-width: 386px;
    }

    @include media(desktop-lg) {
      max-width: 700px;
    }
  }

  &-description {
    grid-column: 2/6;
    @include mediumGutterTop;
    @include mediumGutterBottom;
    margin: auto;
    width: 85%;

    @include media(mobile-lg) {
      width: 80%;
    }
    @include media(desktop-sm) {
      grid-column: 4/12;
      width: 100%;
      line-height: 32px;
    }
  }

  &-appreciation {
    grid-column: 1/7;
    display: flex;
    width: 100%;

    @include media(desktop-sm) {
      grid-column: 4/12;
    }
  }

  .caption {
    grid-column: 2/6;
    color: $grey-3;

    @include productCaption;
    @include media(desktop-sm) {
      grid-column: 4/12;
      margin: auto;
    }

    &-number {
      color: $gold;
    }
    &-slash {
      color: $gold;
    }
  }
}
