.arrow-container {
  z-index: 0;
}

.arrow path {
  fill: transparent;
  stroke-width: 3px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

.scaling-svg-container {
  @include scalingSvgContainer;
  padding-bottom: 100%;
  stroke: $white;
}
.event-button .scaling-svg-container {
  @include scalingSvgContainer;
  padding-bottom: 0;
  transform: rotate(270deg);
  stroke: $gold;
}
.arrow {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.hero .arrow {
  @include media(desktop-sm) {
    display: none;
  }
}
// @keyframes arrow {
//   0% {
//     opacity: 0;
//     transform: translateY(10px);
//   }
//   80% {
//     opacity: 1;
//     transform: translateY(50px);
//   }
//   100% {
//     opacity: 0;
//     transform: translateY(50px);
//   }
// }

// @-webkit-keyframes arrow /*Safari and Chrome*/ {
//   0% {
//     opacity: 0;
//     transform: translateY(10px);
//   }
//   80% {
//     opacity: 1;
//     transform: translateY(50px);
//   }
//   100% {
//     opacity: 0;
//     transform: translateY(50px);
//   }
// }

.arrows path.a1 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari and Chrome */
}
