.arrow-container {
  z-index: 0;
}

.arrow path {
  fill: transparent;
  stroke-width: 3px;
}

.scaling-svg-container {
  @include scalingSvgContainer;
  padding-bottom: 100%;
  stroke: $white;
}

.arrow {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.hero .arrow {
  // animation: arrow 2s infinite;
  // -webkit-animation: arrow 2s infinite;

  -moz-animation: bounce 5s infinite;
  -webkit-animation: bounce 5s infinite;
  animation: bounce 5s infinite;
  @include media(desktop-sm) {
    display: none;
  }
}

.arrows path.a1 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari and Chrome */
}

$animateTranslateYMax: -12px;

@keyframes bounce {
  0%,
  20%,
  50%,
  60% {
    transform: translateY(0);
  }
  35% {
    transform: translateY($animateTranslateYMax);
  }
}
