.events {
  background-color: $white;
  @include largeGutterTop;
  @include largeGutterBottom;
  @include grid(mobile);

  @include media(desktop-sm) {
    @include grid(desktop-sm);
  }

  .events-title-container {
    grid-column: 2/6;
    position: relative;
    @include mediumGutterBottom;
    @include centered;
    @include themeLine;

    @include media(desktop-sm) {
      grid-column: 5/11;
      flex-direction: row;
    }
  }

  .event-items {
    grid-column: 2/6;

    @include media(desktop-sm) {
      grid-column: 2/14;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 50px;
    }

    .event-item {
      @include eventItem;
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      @include media(desktop-sm) {
        text-align: start;
        max-width: 278px;
      }

      &.item-1 {
        display: none;

        @include media(desktop-sm) {
          display: block;
          grid-column: 1/2;
        }
      }
      &.item-2 {
        grid-column: 2/3;
      }
      &.item-3 {
        display: none;
        @include media(desktop-sm) {
          display: block;
          grid-column: 3/4;
        }
      }
      .event-date {
        font-family: "PalatinoLT-Light";
        color: $black;
        text-transform: uppercase;
        font-size: 30px;

        @include media(mobile-lg) {
          font-size: 56px;
        }
        @include media(desktop-sm) {
          font-size: 26px;
        }
        @include media(desktop-lg) {
          font-size: 96px;
        }
      }
      .event-title {
        font-family: "PalatinoLT-Light";
        color: $black;
        text-transform: uppercase;
        font-size: 30px;

        @include media(mobile-lg) {
          font-size: 56px;
        }

        @include media(desktop-sm) {
          font-size: 26px;
        }
      }
      .event-body {
        line-height: 30px;
        padding-top: 25px;
        padding-bottom: 25px;

        @include media(mobile-lg) {
          padding-top: 40px;
          padding-bottom: 40px;
        }

        @include media(desktop-sm) {
          padding-top: 30px;
          padding-bottom: 30px;
        }
        &-text {
          font-family: "AvenirLTStd-Book";
          color: $grey-3;
          max-width: 85%;
          margin: auto;

          @include media(mobile-lg) {
            font-size: 26px;
            line-height: 46px;
          }

          @include media(desktop-sm) {
            max-width: 100%;
            font-size: 13px;
            line-height: 28px;
          }
        }
      }
      .event-button {
        border: solid 2px $gold;
        color: $gold;
        font-size: 14px;
        padding: 12px 40px 12px 40px;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;

        @include media(mobile-lg) {
          font-size: 24.47px;
          padding: 29px 50px 29px 50px;
        }
        @include media(desktop-sm) {
          margin: initial;
          font-size: 12.47px;
          padding: 9px 16px 10px 26px;
        }

        @include media(desktop-lg) {
          margin: initial;
        }
      }
    }
  }
}
