.hamburger {
  display: block;
  z-index: 1;
  padding: 10px 15px;

  @include media(desktop-lg) {
    display: none;
  }
}
.hamburger .line {
  width: 30px;
  height: 2px;
  margin: 7px auto;
  background-color: $gold;
  display: block;

  // margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  @include media(desktop-sm) {
    display: none;
  }
}

.hamburger:hover {
  cursor: pointer;
  .line {
    background-color: $highlight;
  }
}

.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(40deg);
  -ms-transform: translateY(9px) rotate(40deg);
  -o-transform: translateY(9px) rotate(40deg);
  transform: translateY(9px) rotate(40deg);
}

.hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-40deg);
  -ms-transform: translateY(-9px) rotate(-40deg);
  -o-transform: translateY(-9px) rotate(-40deg);
  transform: translateY(-9px) rotate(-40deg);
}
