.header {
  background-color: $black;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 1;

  @include media(desktop-sm) {
    justify-content: space-between;
    align-items: center;
  }

  .header-title {
    padding: 40px 25px 40px 25px;
  }

  .nav-list {
    display: none;
    flex-direction: row;

    @include media(desktop-lg) {
      display: flex;
    }

    li {
      padding: 40px 25px 40px 25px;
    }
  }
}

.fixed-adjust {
  padding-top: 54px;
  grid-column: span 6;

  @include media(mobile-lg) {
    padding-top: 87px;
  }
  @include media(desktop-lg) {
    padding-top: 103px;
  }
}
