.header {
  background-color: $black;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.fixed-adjust {
  padding-top: 54px;
  grid-column: span 6;

  @include media(mobile-lg) {
    padding-top: 87px;
  }
  @include media(desktop-lg) {
    padding-top: 103px;
  }
}
