.header {
  background-color: $black;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 10px 15px;

  @include media(desktop-sm) {
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }

  @include media(desktop-lg) {
    padding: 15px 153px;
  }

  .header-title {
    font-family: "PalatinoLT-Roman";
    color: $white;
    text-transform: uppercase;
    font-size: 36px;
    display: none;
    white-space: nowrap;

    @include media(desktop-sm) {
      display: block;
      font-size: 20px;
    }
  }
}

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @include media(desktop-sm) {
    justify-content: center;
  }
  @include media(desktop-lg) {
    justify-content: flex-end;
  }
  .nav-list {
    // display: none;
    flex-direction: row;

    @include media(mobile) {
      display: flex;
      text-align: center;
      flex-direction: column;
      position: fixed;
      background-color: black;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transform: translateX(-100%);
      transition: all 0.5s;
    }

    @include media(desktop-sm) {
      display: flex;
    }

    li {
      padding-right: 15px;
      &:last-child {
        padding-right: 0;
      }
    }
  }

  .mobile-nav-active {
    transform: translateX(0);
  }
}

@include media(mobile) {
}

.sub-nav-item {
  @include media(desktop-sm) {
    display: none;
  }
  @include media(desktop-lg) {
    display: block;
  }
}

.view-more {
  position: relative;
  display: none;
  height: 100%;

  &-title {
    display: flex;
    align-items: center;

    .scaling-svg-container {
      width: 13px;
      height: 8px;
      margin-left: 5px;
    }
    .arrow {
      margin: 1px;
      path {
        stroke: $gold;
      }
    }
  }
  @include media(desktop-sm) {
    display: block;
  }
  @include media(desktop-lg) {
    display: none;
  }
  .sub-nav {
    position: absolute;
    background-color: $black;
    padding: 44px 18px 0px 12px;
    left: -12px;
    top: 0;
    z-index: -2;

    li {
      padding-bottom: 15px;
    }
  }
}

.fixed-adjust {
  padding: 26px;
  grid-column: span 6;

  @include media(mobile-lg) {
    padding: 25px;
  }
  @include media(desktop-sm) {
    padding: 30px;
    grid-column: span 14;
  }
  @include media(desktop-lg) {
    padding: 103px;
    grid-column: span 14;
  }
}
