.hero {
  background-image: url(../assets/images/mobile_hero.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;

  @include grid(mobile);
  grid-template-rows: 54px auto 151px;

  @include media(desktop) {
    background-image: url(../assets/images/desktop_hero.jpg);
  }

  &-title {
    grid-column: 2/4;
    padding-top: 29px;
  }

  &-footer {
    grid-column: 2/6;
    @include centered;
    flex-direction: column;

    .arrow {
      width: 40px;
    }
  }
}

.product-caption {
  @include productCaption;
  .caption {
    color: $grey-3;
    &-number {
      color: $white;
    }
    &-slash {
      color: $white;
    }
  }
}
