.hero {
  background-image: url(../assets/images/mobile_hero.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #95a2a8;
  height: 100vh;
  flex-direction: column;

  @include centered;
  @include grid(mobile);

  @include media(mobile-lg) {
    @include grid(mobile-lg);
  }

  @include media(desktop-sm) {
    @include grid(desktop-sm);
    background-image: url(../assets/images/desktop_hero.jpg);
    height: auto;
    background-size: cover;
    grid-template-rows: 1.5fr 1fr;
  }

  &-inner {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    height: 100%;

    .hero-title {
      padding-top: 29px;

      @include media(mobile-lg) {
        padding-top: 70px;
      }
      @include media(desktop-sm) {
        @include largeGutterTop;
        padding-bottom: 30px;
        position: relative;
        @include heroThemeLine;
      }
    }

    @include media(desktop-sm) {
      grid-column: 9/14;
      justify-content: flex-end;
    }
  }

  &-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    grid-column: 2/6;
    flex-direction: column;

    @include media(mobile-lg) {
      padding-bottom: 30px;
    }

    @include media(desktop-sm) {
      grid-column: 9/14;
      align-items: initial;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      max-width: 300px;
      padding-top: 30px;
    }

    .desktop-subtitle {
      display: none;

      @include media(desktop-sm) {
        display: block;
        height: 100%;
        font-family: "PalatinoLT-Light";
        color: $black;
        font-size: 25px;
      }
    }

    .arrow {
      width: 40px;
    }
  }
}

.product-caption {
  @include productCaption;
  padding-bottom: 16.2px;

  @include media(desktop-sm) {
    padding-bottom: 0;
  }

  .caption {
    color: $grey-3;
    @include media(desktop-sm) {
      color: $black;
    }
    &-number {
      color: $white;
    }
    &-slash {
      color: $white;
    }
  }
}
