// Variables
// ---------
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 1s;

// Keyframes
// ---------
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

// Animations
// ----------
[data-animation] {
  opacity: 0;
  animation-timing-function: $animation-timing-function;
  animation-fill-mode: both;
  animation-duration: $animation-duration;
}

// Disable animation of the childs
// Disable animation in yourself
.animations-disabled {
  &,
  [data-animation] {
    animation: none !important;
    opacity: 1 !important;
  }
}

// Slide Animations
.slideInUp {
  animation-name: slideInUp;
}
